*{
	margin:0;
	padding:0;
}

/* white space gone */
html { height: 100%;  }
/*body { min-height: 100%;
	background: lightgray;
	}*/

/*.main_wrapper{
	background: lightgray;
	overflow: hidden
}*/
.main_container{
	/*height:100%;*/
	background: white;
	/*border:1px solid gray;*/
}

.main_Header{
	/*height:100px;*/
	/*background:lightgray;*/
	/*border:1px solid gray;*/
}

.main_nav{
	/*height:100px;*/

	/*background:lightgray;*/
	/*border:1px solid gray;*/
}

.main_section{
	display:flex;
	flex-direction:row;
	/*nowrap makes component not other line. Only one row*/
	/*flex-wrap:nowrap; */
	justify-content: flex-start; /* main axis */
	height:auto;overflow:hidden;
	/*align-items: center; /* reverse axios */*/
}


.main_leftsidebar{
	/*width:100%;*/
	/*height:auto;*/
	/*background:red;*/
	/*height:800px;*/
	/*border:1px solid gray;*/
}

.main_wrapper{
	width:100%;
}

.main_main{
	/*height:100px;*/
	/*width: 100%;*/
	/*overflow:hidden;*/
	/*background:lightgray;*/
	/*border:1px solid gray;*/
	/*height:500px;*/
	/*flex-grow: 1; */
}


.main_footer{
	/*height:100px;*/
	/*background:lightgray;*/
	/*border:1px solid gray;*/
}

.register_container{
 justify-content: flex-end;

}

.pagination_nav{
	margin-top:170px;
	/*padding-top:170px;*/
	display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.searchForm{
	margin: 0 auto;
	width:70%;
}

.form-select{
	max-width:220px;
}

/* This is for Album CSS*/
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}



