<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/../layout/index}">
<head>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<!-- Content -->
<th:block layout:fragment="content" class="main_register_container">


    <main class="main_register bg-light">
        <div class="main_register_container">
            <h1 class="mt-4">Room Modify Page</h1>
            <form th:action="@{/room/modify}" th:method="post">
                <input type="hidden" name="gno" th:value="${dto.gno}"/>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" placeholder="Enter Title" width="100px" th:value = "${dto.title}">
                </div>

                <div class="form-group mt-3">
                    <label>Content</label>
                    <textarea class="form-control" rows="5" name="content" >[[${dto.content}]]</textarea>
                </div>

                <div class="form-group mt-3">
                    <label>Writer</label>
                    <input type="text" class="form-control" name="writer" placeholder="Enter Writer" th:value = "${dto.writer}">
                </div>

                <div class="form-group mt-3">
                    <label>Regdate</label>
                    <input type="text" class="form-control" name="regDate_readonly" placeholder="Enter Writer" th:value = "${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
                </div>

                <div class="form-group mt-3">
                    <label>ModDate</label>
                    <input type="text" class="form-control" name="modDate_readonly" placeholder="Enter Writer" th:value = "${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
                </div>

                <input type="hidden" name="page" th:value="${requestDTO.page}">

                <button type="button" class="btn btn-primary mt-3 mb-5 modifyBtn">Modify</button>
                <button type="button" class="btn btn-primary mt-3 mb-5 listBtn">List</button>
                <button type="button" class="btn btn-primary mt-3 mb-5 removeBtn">Remove</button>
            </form>
        </div>
    </main>

    <script th:inline = "javascript">
    var actionForm = $("form"); //form 태그 객체
    $(".removeBtn").click(function(){
        actionForm.attr("action","/room/remove")
                    .attr("method", "post");
        actionForm.submit();
    });

    $(".modifyBtn").click(function(){
        if(!confirm("수정하시겠습니까?")){
            return ;
        }
        actionForm
            .attr("action", "/room/modify")
            .attr("method", "post")
            .submit();
    });

    $(".listBtn").click(function(){
        var pageInfo = $("input[name='page']");

        actionForm.empty();
        actionForm.append(pageInfo);
        actionForm.attr("action", "/room/list")
                    .attr("method","get");
        console.log(actionForm.html());
        actionForm.submit();
    });
    </script>

</th:block>

</html>